.pane {
    -fx-background-color: #1a1a1a;
}

.scroll-pane > .viewport {
    -fx-background-color: #1a1a1a;
}

.label {
    -fx-font-family: "MedievalSharp", "Cinzel Decorative";
    -fx-font-size: 21px;
    -fx-text-fill: white;
}


.button {
    -fx-font-size: 17px;
    -fx-text-fill: white;
    -fx-background-color: rgba(4, 40, 40, 0.4);
    -fx-font-family: "MedievalSharp";
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #555;
    -fx-border-width: 2px;
}

.toggle-button {
    -fx-font-size: 17px;
    -fx-text-fill: white;
    -fx-background-color: rgba(4, 40, 40, 0.4);
    -fx-font-family: "MedievalSharp";
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #555;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: #555;
}

#vbox {
    -fx-background-color: #1a1a1a;
    -fx-font-family: "MedievalSharp";

}

#vbox > .label {
    -fx-text-fill: white;
    -fx-font-size: 21px;
    -fx-font-family: "MedievalSharp";
}

#skillinspectorbox {
    -fx-background-color: #1a1a1a;
}

#quickmenubox {
    -fx-background-color: #1a1a1a;
}

#quickmenubox > .button {
    -fx-background-color: #4a574e;
    -fx-border-color: white;
}

#quickmenubox > .button:hover {
    -fx-background-color: #555;
    -fx-border-color: #777;
}

#quickmenubox > .toggle-button {
    -fx-background-color: #4a574e;
}