#anchorPane {
    -fx-background-image: url('image/avatar.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#pane {
    -fx-background-image: url('image/holz_fackel.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button {
    -fx-background-color: rgba(4,40,40,0.4);
    -fx-text-fill: white;
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-padding: 2 3;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
    -fx-text-alignment: center;
    -fx-font-family: "MedievalSharp";
}
.button:hover {
    -fx-background-color: #555;
    -fx-border-color: #777;
}

.button:pressed {
    -fx-background-color: #222;
    -fx-border-color: #444;
}

#skill-button {
    -fx-text-fill: white;
    -fx-border-radius: 7;
    -fx-background-color: #333;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 23;
    -fx-font-weight: bold;
    -fx-font-family: "Cinzel Decorative";
}

#slot-button {
    -fx-opacity: 0.0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-background-color: red;
}

#slot-button:hover {
    -fx-opacity: 0.2;
    -fx-background-color: rgba(255, 0, 0, 0.0);
    -fx-border-style: none;
    -fx-text-fill: black;
}

#stats-box {
    -fx-background-color: #1a1a1a;
}
