.pane {
    -fx-background-color: #1a1a1a;
}

.scroll-pane > .viewport {
    -fx-background-color: #1a1a1a;
}

.label {
    -fx-font-family: "MedievalSharp", "Cinzel Decorative";
    -fx-font-size: 21px;
    -fx-text-fill: white;
}


.button {
    -fx-font-size: 17px;
    -fx-text-fill: white;
    -fx-background-color: rgba(4,40,40,0.4);
    -fx-font-family: "MedievalSharp";
}

.button:hover {
    -fx-background-color: #555;
}

#vbox {
    -fx-background-color: #1a1a1a;
    -fx-font-family: "MedievalSharp";
}

#vbox > .label {
    -fx-text-fill: white;
    -fx-font-size: 21px;
    -fx-font-family: "MedievalSharp";
}

#skillinspectorbox {
    -fx-background-color: #1a1a1a;
}