/* Hintergrund des Hauptmenüs */
#main-menu {
    -fx-background-color: #1a1a1a;
    -fx-alignment: center;
}


.label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #d4af37;
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-font-family: "Book Antiqua";
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0.3, 2, 2);
}

.button {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Book Antiqua";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
    
    /* Einheitliche Breite für alle Buttons */
    -fx-min-width: 200px;
    -fx-min-height: 50px;
    -fx-text-alignment: center;
}
.button:hover {
    -fx-background-color: #555;
    -fx-border-color: #777;
}

.button:pressed {
    -fx-background-color: #222;
    -fx-border-color: #444;
}
