#arenaBG {
    -fx-background-image: url("image/arena_background.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#log {
    -fx-font-size: 25;
}

.progress-bar .bar {
    -fx-progress-color: green;
    -fx-background-color: red;
}

.scroll-bar:vertical {
    -fx-background-color: #1a1a1a;
}
