/* Hintergrund des Hauptmenüs */
#game {
    -fx-background-color: #1e1e1e;
    -fx-background-image: url("image/GameBackground2.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-color: #1f1f1f;
    -fx-border-width: 2;
    -fx-border-radius: 2;
    -fx-alignment: center;
}

#side-bar {
    -fx-border-color: #1a1a1a;
    -fx-border-width: 2;
    -fx-min-width: 150px;
    -fx-background-color: #1a1f1f;
    -fx-font-family: "Moon Dance"
}

#side-bar #diary-header {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-background-position: center;
}

#diary > .viewport {
    -fx-background-image: url("image/papyrusbackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#diary2 {
    -fx-background-color: rgba(255,255,255,0.0);
}
/*
    -fx-background-image: url("image/papyrusbackground.png");
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-borderstyle: solid;
    -fx-background-size: cover;
    -fx-background-position: center;
 */

#side-bar .label {
    -fx-text-fill: white;
    -fx-font-family: "Cinzel Decorative";
    -fx-font-weight: bold;
    -fx-font-size: 21;

}

#help-bar {
    -fx-background-color: #1a1f1f;
    -fx-border-color: #050505;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}

#help-bar-box {
    -fx-background-color: #6f6f6f;
    -fx-vgap: 25;
}

#game .label {
    -fx-font-size: 26px;
    -fx-text-fill: #d4af37;
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-font-family: "MedievalSharp", "Dancing Script", "MoonDance", "Georgia", "Serif";
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0.3, 2, 2);
}

#label-small {
    -fx-text-fill: white;
    -fx-padding: 7;
    -fx-font-family: "MedievalSharp", "Dancing Script", "MoonDance";
    -fx-font-size: 20px;
}

#grid-game .button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: rgba(0, 0, 0, 0);
    -fx-font-size: 30;
    -fx-padding: 150 200;
}

#grid-game .button:hover {
    /* Befindet sich nun alles in Tools.addHoverEffect() */
}

#grid-game .button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(225, 175, 175, 0.75), 20, 0.59, 0, 0);
}

#barracks {
    -fx-background-image: url("image/barracks.png");
    -fx-background-radius: 50;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#shop {
    -fx-background-image: url("image/shop.png");
    -fx-background-radius: 50px;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#arena {
    -fx-background-image: url("image/arena.png");
    -fx-background-radius: 50px;
    /*-fx-border-radius: 50px;
    -fx-border-color: red;
    -fx-border-width: 3px;*/
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#other {
    -fx-background-image: url("image/other.png");
    -fx-background-radius: 50px;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#next-day {
    -fx-font-family: "MedievalSharp", "Dancing Script", "MoonDance";
    -fx-background-color: #4a574e;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill:white;
}
#next-day:hover {
    -fx-background-color: #7d827e;
}

#day-button {
    -fx-font-size: 21;
    -fx-font-family: "DejaVu Sans";
}