@font-face {
    font-family: "Dancing Script";
    src: url("fonts/DancingScript-Regular.ttf");
}

.label {
    -fx-font-family: "Dancing Script";
    -fx-font-size: 16px;
}

.text {
    -fx-font-family: "Dancing Script";
}
