/* Hintergrund des Hauptmenüs */

#game {
    -fx-background-color: #1e1e1e;
    -fx-background-image: url("image/GameBackground2.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-color: #1f1f1f;
    -fx-border-width: 2;
    -fx-border-radius: 2;
    -fx-alignment: center;
}

#side-bar {
    -fx-border-color: #1a1a1a;
    -fx-border-width: 2;
    -fx-min-width: 150px;
    -fx-background-color: #8B5A2B;
    -fx-background-image: linear-gradient(to right, #B97A52 25%, transparent 25%) 0 0,
    linear-gradient(to top, #B97A52 25%, transparent 25%) 0 0;
    -fx-background-size: 100px 100px;
    -fx-background-repeat: repeat;
}

#side-bar #diary-header {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-background-position: center;
}

#side-bar .label {
    /*-fx-text-fill: white;*/
}

#help-bar {
    -fx-background-color: #1a1f1f;
    -fx-border-color: #050505;
    -fx-border-radius: 3;
    -fx-border-width: 2;
}

#help-bar-box {
    -fx-background-color: #6f6f6f;
    -fx-vgap: 25;
}

#help-bar .label {
    -fx-font-family: "Book Antiqua";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}


#game .label {
    -fx-font-size: 26px;
    -fx-text-fill: #d4af37;
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-font-family: "Georgia", "Serif";
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0.3, 2, 2);
}

#label-small {
    -fx-text-fill: white;
    -fx-padding: 7;
}

#grid-game .button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: rgba(0, 0, 0, 0);
    -fx-font-size: 30;
    -fx-padding: 150 200;
    /*-fx-transition: all 0.5s ease-in-out;*/
}

#grid-game .button:hover {
    /* Befindet sich nun alles in Tools.addHoverEffect() */
}

#grid-game .button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(225, 175, 175, 0.75), 20, 0.59, 0, 0);
}

#barracks {
    -fx-background-image: url("image/barracks.png");
    -fx-background-radius: 50;
    /*-fx-border-radius: 50px;
        -fx-border-color: red;
        -fx-border-width: 3px;*/
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#shop {
    -fx-background-image: url("image/shop.png");
    -fx-background-radius: 50px;
    /*-fx-border-radius: 50px;
    -fx-border-color: red;
    -fx-border-width: 3px;*/
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#arena {
    -fx-background-image: url("image/arena.png");
    -fx-background-radius: 50px;
    /*-fx-border-radius: 50px;
    -fx-border-color: red;
    -fx-border-width: 3px;*/
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

#other {
    -fx-background-image: url("image/other.png");
    -fx-background-radius: 50px;
    /*-fx-border-radius: 50px;
    -fx-border-color: red;
    -fx-border-width: 3px;*/
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*
.button {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;

    -fx-min-width: 200px;
    -fx-min-height: 50px;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color: #555;
    -fx-border-color: #777;
}

.button:pressed {
    -fx-background-color: #222;
    -fx-border-color: #444;
}
*/