#ap {
    -fx-background-color: #1a1a1a;
    -fx-background-image: url("image/holz_fackel.jpg");
    -fx-background-position: top;
    -fx-background-size: cover;
}
#pane {
    -fx-background-color: rgba(255,255,255,0.0);
    -fx-alignment: center;
    /*
    -fx-background-image: url("image/wall_texture.png");
    -fx-background-size: contain;
     */
}

.button {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 2 3;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #555;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
    -fx-text-alignment: center;
}
.button:hover {
    -fx-background-color: #555;
    -fx-border-color: #777;
}

.button:pressed {
    -fx-background-color: #222;
    -fx-border-color: #444;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Book Antiqua";
}

#list {
    -fx-background-color: #1a1a1a;
    -fx-effect: innershadow(gaussian, black, 15, 0.3, 0, 0);
    -fx-background-image: url("image/wall_texture.png");
    -fx-background-size: contain;
}

.check-box .box {
    -fx-background-color: #1e1e1e;
    /* -fx-background-image: url("image/GameBackground2.png");
    -fx-background-size: contain; */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-border-color: white;
    -fx-border-width: 2px;
}
.check-box:selected .mark {
    -fx-background-color: white;
}

.label {
    -fx-text-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-stroke-type: outside;
}